/*BASE
---------------------------------*/
body {
  color: #888888;
  line-height: 1.7142857143;
  letter-spacing: 0;
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 14px;
  background-color: #fff;
}

a {
  text-decoration: none;
}

/* BLOCK
---------------------------------*/
.header {
  padding-top: 30px;
  padding-bottom: 60px;
}
.header__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #202124;
}
.footer__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.footer__copy {
  color: #fff;
  font-size: 12px;
}

/*unit*/
.unit__catch {
  font-size: 12px;
  font-style: italic;
  color: #FA6980;
  margin-bottom: 10px;
}
.unit__title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}
.unit__title--border {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.time {
  margin-top: 20px;
  padding-left: 26px;
  align-items: center;
  background: url(../images/icon_time.png) no-repeat;
}

.news__item {
  width: 380px;
  margin-bottom: 60px;
}
.news__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.news__title {
  color: #202124;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  border-left: 10px solid #FA6980;
  line-height: 1.2916666667;
  padding-left: 10px;
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.trending {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}
.trending__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.trending__title {
  color: #202124;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  border-left: 10px solid #FA6980;
  line-height: 1.2916666667;
  padding-left: 10px;
}
.trending__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.trending__item {
  width: 380px;
}

.card__body {
  background-color: #fff;
  padding: 35px;
}
.card__title {
  color: #202124;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn {
  display: block;
  color: #fff;
  width: 160px;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 43px;
  background-color: #FA6980;
  margin-top: 25px;
  margin-left: auto;
}
.btn--info {
  background-color: #202124;
}

/*ABOUT
---------------------------------*/
.post {
  margin-bottom: 60px;
}
.post__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.discovery {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}
.discovery__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.discovery__title {
  color: #202124;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  border-left: 10px solid #FA6980;
  line-height: 1.2916666667;
  padding-left: 10px;
}
.discovery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.discovery__item {
  width: 240px;
}
/*# sourceMappingURL=style.css.map */